<h1>Editing Comment</h1>

<%= form_for @comment, :url=>{:action=>"update"},:html => { :multipart => true } do |form| %>

<%= render partial: 'form' ,locals: {f: form}%>
<% end %>

<%= link_to 'Cancel', :back ,class:'btn btn-info btn-block'%> 
